
.myContainer {
  margin:30px;
}

.center{
  text-align: center;
}

.nav-item:hover{
  color:rgba(13, 97, 13, 0.884);
}

.active{
  color: rgb(29, 112, 29);
}

.msg{
  color:green;
}

.link{
  transform: bold;
  color: green
}


.col-2,.row, h1 ,h2,h3,h4,h5,h6{
  margin:10px;
}

.album-title{
  color:white;
  text-shadow:
  -1.5px -1px 0 #000,
  1.5px -1px 0 #000,
  -1.5px 1px 0 #000,
  1.5px 1px 0 #000;  
  text-align: center;
}

.sub-link, .card-link{
  color:#000;
}
.sub-link:hover{
  color: rgb(54, 53, 53);
}

